{% extends "fakultas/base.html" %}

{% block content1 %}
<div class="dashboard-content">
	<!-- Hero Profile Section -->
	<div  class="hero-profile-elegant">
		<div class="hero-photo-elegant">
			<img src="/media/{{ photo }}" alt="Profile Picture">
		</div>
		<div class="hero-info-elegant">
			<p class="hero-welcome-text">Selamat Datang..</p>
			<h1 class="hero-name-display">{{ userdetail.username.first_name }}</h1>
			<div class="hero-details-grid">
				<div class="detail-item">
					<span class="detail-label">Kontak</span>
					<span class="detail-value"> {{ userdetail.telp }}</span>
				</div>
				<div class="detail-item">
					<span class="detail-label">Jenis Kelamin</span>
					<span class="detail-value">{{ userdetail.gender }}</span>
				</div>
			</div>
			<div class="hero-action-area">
				<a href="{% url 'acd:profile_fakultas' %}">
					{% if userdetail.photo is none %}
						<button class="btn danger small">
							<i class="ri-alert-line"></i> Lengkapi profil Anda untuk melanjutkan!
						</button>
					{% else %}
						<button class="btn primary medium">
							<i class="ri-user-line"></i> Detail Profil
						</button>
					{% endif %}
				</a>
			</div>
		</div>
	</div>
	<!-- Stats Cards -->
	<div class="stats-cards">
		<h4>Info Ajuan Layanan Mahasiswa</h4>
	</div>
	
	
	<div class="stats-cards">		
		<div class="stat-card orange">			
			<i class="ri-article-line"></i>
			<div class="stat-info">
				<p>SK Pembimbing</p>
				<h1>{{ data.skpbb }}</h1>
				<a href="{% url 'acd:skpbb_pengajuan' %}"><button class="btn warning x-small">Details</button></a>				
			</div>			
		</div>		
		<div class="stat-card orange">			
			<i class="ri-article-line"></i>
			<div class="stat-info">
				<p>SK Ujian</p>
				<h1>{{ data.skujian }}</h1>
				<a href="{% url 'acd:skujian_pengajuan' %}"><button class="btn warning x-small">Details</button></a>				
			</div>			
		</div>		
		<div class="stat-card blue">
			<i class="ri-survey-fill"></i> <!-- Dalam Proses -->
			<div class="stat-info">
				<p>Izin Penelitian</p>
				<h1>{{ data.izinpenelitian }}</h1>
				<a href="{% url 'acd:izinpenelitian_pengajuan' %}"><button class="btn primary x-small">Details</button></a>
			</div>
		</div>
		<div class="stat-card green">
			<i class="ri-checkbox-circle-line"></i> <!-- Selesai -->
			<div class="stat-info">
				<p>Ujian Skripsi</p>
				<h1>{{ data.ujian}}</h1>
				<a href="{% url 'acd:ujian_list' 'pengajuan'  %}"><button class="btn success x-small">Details</button></a>
			</div>
		</div>
		<div class="stat-card red">
			<i class="ri-close-circle-line"></i> <!-- Ditolak -->
			<div class="stat-info">
				<p>Ditolak</p>
				<h1>{{ data.layanan_rejected }}</h1>
				<a href="{% url 'acd:layanan_fakultas' 'Rejected'  %}"><button class="btn danger x-small">Details</button></a>
			</div>
		</div>
	</div>
	
<div class="stats-cards">
		<h4>Info Layanan Surat</h4>
	</div>
	
	<div class="stats-cards">		
			
		<div class="stat-card orange">			
			<i class="ri-article-line"></i>
			<div class="stat-info">
				<p>SK Keterangan Berkelakuan Baik</p>
				<h1>{{ data.suket_berkelakuanbaik }}</h1>
				<a href="{% url 'acd:suket_berkelakuanbaik' %}"><button class="btn warning x-small">Details</button></a>				
			</div>			
		</div>		
		<div class="stat-card orange">			
			<i class="ri-article-line"></i>
			<div class="stat-info">
				<p>SK Keterangan Aktif Kuliah</p>
				<h1>{{ data.suket_aktifkuliah }}</h1>
				<a href="{% url 'acd:suket_aktifkuliah' %}"><button class="btn warning x-small">Details</button></a>				
			</div>			
		</div>
		<div class="stat-card orange">			
			<i class="ri-article-line"></i>
			<div class="stat-info">
				<p>SK Keterangan Cuti Akademik</p>
				<h1>{{ data.suket_cuti_akademik }}</h1>
				<a href="{% url 'acd:suket_cutiakademik' %}"><button class="btn warning x-small">Details</button></a>				
			</div>			
		</div>	
	</div>
	

	<div class="stats-cards">
		<h4>Info Jumlah Layanan</h4>
	</div>
	
	<div class="stats-cards">
		<div class="stat-card purple">
			<i class="ri-book-open-line"></i>
			<div class="stat-info">
				<h3>Bulan Ini</h3>
				<p>{{ data.layanan_month }}</p>
			</div>
		</div>
		<div class="stat-card indigo">
			<i class="ri-task-line"></i>
			<div class="stat-info">
				<h3>Tahun Ini</h3>
				<p>{{ data.layanan_year }}</p>
			</div>
		</div>
		<div class="stat-card purple">
			<i class="ri-task-line"></i>
			<div class="stat-info">
				<h3>Semua</h3>
				<p>{{ data.layanan_all }}</p>
			</div>
		</div>
	</div>
	

	

</div>
{% endblock content1 %} 

