{% extends "fakultas/base.html" %}

{% block content1 %}
<div class="dashboard-content">
	<div class="student-list-container">
		<div class="list-header">
			<div class="list-title">
				<h2>{{ heading }}</h2>
				<p>{{web_name}}</p>
			</div>
			
		</div>

		<div class="student-table">
			<div class="table-responsive">
			<table id="layananTable" class="display" style="width:100%">
				<thead>
				<tr>
					<th style="white-space: nowrap;">No</th>
					<th style="white-space: nowrap;">Date In</th>
					<th style="white-space: nowrap;">Mahasiswa</th>
					<th style="white-space: nowrap;">Prodi</th>
					<th style="white-space: nowrap;">Persyaratan</th>
					<th style="white-space: nowrap;">Aksi</th>
				</tr>
				</thead>
				<tfoot>
				<tr>
					<th>No</th>
					<th>Date In</th>
					<th>Mahasiswa</th>
					<th>Prodi</th>
					<th>Persyaratan</th>
					<th width="10%">Aksi</th>
				</tr>
				</tfoot>
				<tbody>
				{% for datatb in data %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ datatb.date_in|date:"d M Y H:i"  }}</td>
						<td>{{ datatb.mhs }}</td>					  
						<td>{{ datatb.mhs.prodi }}</td>					  
						<td><div class="response-text">{{ datatb.layanan_isi|truncatechars:230 }}</div>
							<a target="_blank" href="/media/{{ datatb.layanan_file }}">
								<button class="btn secondary x-small"><i class="ri-link"></i>Lampiran</button>	
							</a>
						</td>						  
						<td>
							<button class="btn danger small" onclick="openModal('tolakSK', '{{ datatb.id }}')"><i class="ri-close-line"></i>Tolak</button>					
							<button class="btn primary small" onclick="openModal('terbitkanSK', '{{ datatb.id }}')"><i class="ri-loader-4-line"></i>Proses</button>					
						</td>					
					</tr>
				{% endfor %}
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>


<div id="terbitkanSK" class="modal-edit"> 
    <div class="modal-content-edit">
        <span class="close" onclick="closeModal('terbitkanSK')">&times;</span>
        <h2 style="text-align: left;">Perihal dan Tujuan</h2>
		<form method="post">
			{% csrf_token %}
			<input type="hidden" name="id" id="skripsiId">
				<div class="form-group">
					<label for="nosurat">Nomor Surat </label>
					<input type="text" class="form-control" id="nosurat" name="nosurat" placeholder="Kosongkan Jika Ambil Nomor Otomatis">
				</div>
				<div class="form-group">
					<label for="lokasi">Lokasi Penelitian</label>
					<input type="text" class="form-control" id="lokasi" name="lokasi" placeholder="Sekolah Negeri 1 Indonesia">
				</div>
				<div class="form-group">
					<label for="pimpinan">Pimpinan </label>
					<input type="text" class="form-control" id="pimpinan" name="pimpinan" placeholder="Presiden Republik Indonesia">
				</div>
				<div class="form-group">
					<label for="pimpinancq">Pimpinan cq (jika ada) </label>
					<input type="text" class="form-control" id="pimpinancq" name="pimpinancq" placeholder="Menteri Pendidikan dan Kebudayaan">
				</div>
			<div class="modal-footer">
				<button type="submit" class="btn primary btn-block" name="action" value="terbitkan">Terbitkan</button>
			</div>		
		</form>
    </div>
</div>

{% comment %} FORM PENOLAKAN {% endcomment %}
<div id="tolakSK" class="modal-edit"> 
    <div class="modal-content-edit">
        <span class="close" onclick="closeModal('tolakSK')">&times;</span>
        <h2 style="text-align: left;">Perihal dan Tujuan</h2>
		<form method="post">
			{% csrf_token %}
			<input type="hidden" name="id" id="skripsiIdTolak">
				<div class="form-group">
					<label for="alasan">Alasan Penolakan</label>
					<input type="text" class="form-control" id="alasan" name="alasan" placeholder="Contoh : berkas tidak lengkap">
				</div>
			<div class="modal-footer">
				<button type="submit" class="btn danger btn-block" name="action" value="tolak">Tolak</button>
			</div>		
		</form>
    </div>
</div>


{% endblock content1 %} 



{% block script_costum %} 
<script>
	function openModal(modalId, skripsiId) {
		document.getElementById(modalId).style.display = 'block'; // Tampilkan modal
		if (modalId === 'terbitkanSK') {
			document.getElementById('skripsiId').value = skripsiId;
		} else if (modalId === 'tolakSK') {
			document.getElementById('skripsiIdTolak').value = skripsiId;
		}
		var modal = document.getElementById(modalId);
        modal.style.display = "block";
	}
	
    function closeModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        var modals = document.getElementsByClassName('modal-edit');
        for (var i = 0; i < modals.length; i++) {
            if (event.target == modals[i]) {
                modals[i].style.display = "none";
            }
        }
    }
</script>
{% endblock script_costum %}



