{% extends "fakultas/base.html" %}

{% block content1 %}
<div class="dashboard-content">
	<div class="student-list-container">
		<div class="list-header">
			<div class="list-title">
				<h2>{{ heading }}</h2>
				<p>{{web_name}}</p>
			</div>
			<div class="list-filters">
				<div class="table-actions">
					<div class="action-group">
						<div class="search-bar-table">
							<i class="ri-search-line"></i>
							<input type="text" id="searchInput" placeholder="Search table...">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="student-table">
			<div class="table-responsive">
			{% if messages %}
			{% for message in messages %}
				<div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} mb-4">
					<i class="{% if message.tags == 'success' %}ri-checkbox-circle-line{% else %}ri-error-warning-line{% endif %} me-2"></i>
					{{ message }}
				</div>
			{% endfor %}
			{% endif %}
			<table>
				<thead>
				<tr>
					<th>No</th>
					<th>Date In</th>
					<th>Mahasiswa</th>
					<th>Prodi</th>
					<th>Pembimbing</th>
					<th>Judul</th>
					<th>Aksi</th>
				</tr>
				</thead>
				<tfoot>
				<tr>
					<th style="white-space: nowrap;">No</th>
					<th>Date In</th>
					<th>Mahasiswa</th>
					<th>Prodi</th>
					<th>Pembimbing</th>
					<th>Judul</th>
					<th width="10%">Aksi</th>
				</tr>
				</tfoot>
				<tbody>
				{% for datatb in data %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ datatb.date_in|date:"d M Y H:i"  }}</td>
						<td>{{ datatb.mhs }}</td>					  
						<td>{{ datatb.prodi }}</td>					  
						<td>1. {{ datatb.pembimbing1 }}					  
								<br>2. {{ datatb.pembimbing2 }}
								</td>					  
						<td>{{ datatb.judul }}</td>					  
						<td>
							<a href="{% url "acd:print_skpbb" datatb.id %}" target="_blank"> 
								<button class="action-btn primary"><i class="ri-printer-line"></i>Cetak</button>		
							</a>			
						</td>					
					</tr>
				{% endfor %}
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>


{% endblock content1 %} 







