{% extends "fakultas/base.html" %}

{% block content1 %}
<div class="dashboard-content">
	<div class="student-list-container">
		<div class="list-header">
			<div class="list-title">
				<h2>{{ heading }}</h2>
				<p>{{web_name}}</p>
			</div>
		</div>

		<div class="student-table">
			<div class="table-responsive">
			<table id="layananTable" class="display" style="width:100%">
				<thead>
				<tr>
					<th style="white-space: nowrap;">No</th>
					<th>Date In</th>
					<th>Mahasiswa</th>
					<th>Prodi</th>
					<th>Pembimbing</th>
					<th>Judul</th>
					<th>Aksi</th>
				</tr>
				</thead>
				<tfoot>
				<tr>
					<th>No</th>
					<th>Date In</th>
					<th>Mahasiswa</th>
					<th>Prodi</th>
					<th>Pembimbing</th>
					<th>Judul</th>
					<th width="10%">Aksi</th>
				</tr>
				</tfoot>
				<tbody>
				{% for datatb in data %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ datatb.date_in|date:"d M Y H:i"  }}</td>
						<td>{{ datatb.mhs }}</td>					  
						<td>{{ datatb.prodi }}</td>					  
						<td>1. {{ datatb.pembimbing1 }}					  
								<br>2. {{ datatb.pembimbing2 }}
								</td>					  
						<td>{{ datatb.judul }}</td>				  
						<td>
							<a href="{% url 'acd:print_persetujuan_judul' datatb.id %}" target="_blank" title="Cetak Persetujuan">
								<button class="btn info small"><i class="ri-printer-fill"></i></button>
							</a>
							<button class="btn primary small" onclick="openModal('terbitkanSK', '{{ datatb.id }}')"><i class="ri-loader-4-line"></i>Proses</button>					
						</td>	
										
					</tr>
				{% endfor %}
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>


<div id="terbitkanSK" class="modal-edit"> 
    <div class="modal-content-edit">
        <span class="close" onclick="closeModal('terbitkanSK')">&times;</span>
        <h2 style="text-align: left;">Perihal dan Tujuan</h2>
		<form method="post">
			{% csrf_token %}
			<input type="hidden" name="skripsi_id" id="skripsiId">
				<div class="form-group">
					<label for="nosurat" style="text-align: left;">Nomor Surat </label>
					<input type="text" class="form-control" id="nosurat" name="nosurat" placeholder="Kosongkan Jika Ambil Nomor Otomatis">
				</div>
				<div class="form-group">
					<button type="submit" class="btn primary">
						<i class="ri-save-line"></i>
						Update Data
					</button>
				</div>	
		</form>
    </div>
</div>

{% endblock content1 %} 



{% block script_costum %} 
<script>
	function openModal(modalId, skripsiId) {
		document.getElementById(modalId).style.display = 'block'; // Tampilkan modal
		document.getElementById('skripsiId').value = skripsiId; // Masukkan userId ke input hidden
		var modal = document.getElementById(modalId);
        modal.style.display = "block";
	}
	
    function closeModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        var modals = document.getElementsByClassName('modal-edit');
        for (var i = 0; i < modals.length; i++) {
            if (event.target == modals[i]) {
                modals[i].style.display = "none";
            }
        }
    }
</script>
{% endblock script_costum %} 



