{% extends "fakultas/base.html" %}

{% block content1 %}
<div class="dashboard-content">
	<div class="student-list-container">
		<div class="list-header">
			<div class="list-title">
				<h2>{{ heading }}</h2>
				<p>{{web_name}}</p>
			</div>			
		</div>

		<div class="student-table">
			<div class="table-responsive">
			<table id="layananTable" class="display" style="width:100%">
				<thead>
				<tr>
					<th>No</th>
					<th>Date In</th>
					<th>Mahasiswa</th>
					<th>Waktu Ujian</th>
					<th>Tempat Ujian</th>
					<th>Aksi</th>
				</tr>
				</thead>
				<tfoot>
				<tr>
					<th>No</th>
					<th>Date In</th>
					<th>Mahasiswa</th>
					<th>Waktu Ujian</th>
					<th>Tempat Ujian</th>
					<th width="15%">Aksi</th>
				</tr>
				</tfoot>
				<tbody>
				{% for datatb in data %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ datatb.date_in|date:"d M Y H:i"  }}</td>
						<td>{{ datatb.mhs_judul.mhs }}</td>					  
						<td>{{ datatb.ujian_tgl }} {{ datatb.ujian_jam }}</td>					  
						<td>{{ datatb.ujian_tempat }}	</td>				  
						<td>
							<a href="{% url 'acd:ujian_proses' datatb.id %}"> 
								<button class="btn warning x-small"><i class="ri-pencil-fill"></i></button>
							</a>
							{% if datatb.no_surat %}
							<br>			
							<a href="{% url 'acd:print_undangan_ujian' datatb.id %}" target="_blank"> 
								<button class="btn primary x-small"><i class="ri-printer-line"></i></button>	
							</a>
							<br>			
							<a href="{% url 'acd:ujian_yudisium' datatb.id %}"> 
								<button class="btn success x-small"><i class="ri-award-line"></i></button>
							</a>
							{% endif %}			
						</td>					
					</tr>
				{% endfor %}
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>


{% endblock content1 %} 







