{% extends "prodi/base.html" %}

{% block content1 %}



<div class="dashboard-content">
	<!-- OPENING ELEMENT PROFILE SECTION -->
	<div class="profile-container">
		<!-- Profile Picture Section -->
		<div class="profile-section">
			<h2>{{ title }}</h2>
			<div class="profile-picture">
				<img src="/{{ photo }}" alt="Profile Picture" id="preview-image">
				<p class="file-info">Silahkan unggah Profile Picture (JPG or PNG. Max size of 800K)</p>
				<div class="profile-actions">
					<button class="upload-btn"><i class="ri-upload-2-line"></i> Upload picture</button>
				</div>
				<input type="file" id="profile-upload" hidden accept="image/*">
			</div>
		</div>
		<!-- General Information Section -->
		<div class="settings-section">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-row">
					<div class="form-group">
						<label>Username</label>
						<input type="text" class="form-control" value="{{ user.username }}" readonly>
					</div>
					<div class="form-group">
						<label>Nama Lengkap</label>
						<input type="text" class="form-control" value="{{ user.first_name }}" readonly>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<label for="id_gender">Jenis Kelamin</label>
						{{ form.gender }}
					</div>
					<div class="form-group">
						<label for="id_telp">No. Telepon</label>
						{{ form.telp }}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<label for="id_photo">Photo Profile</label>
						{{ form.photo }}
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn primary">
						<!-- <button type="submit" class="btn success"> -->
							<!-- <button type="submit" class="btn warning"> -->
						<i class="ri-save-line"></i> Update Profile
					</button>
				</div>
			</form>
		</div>
	</div>
</div>  
{% endblock content1 %} 



{% block script_costum %} 
{% if messages %}
    {% for message in messages %}
        <script>
            swal({
                title: "Good job!",
                text: "Profil Anda berhasil diperbarui!",
                icon: "success",
                buttons: {
                    confirm: {
                        text: "OK",
                        value: true,
                        visible: true,
                        className: "btn btn-success",
                        closeModal: true,
                    },
                },
            });
        </script>
    {% endfor %}
{% endif %}
{% endblock script_costum %}

