{% extends "mhs/base.html" %}

{% block content1 %}
<div class="dashboard-content">
	<div class="student-list-container">
		<div class="list-header">
			<div class="list-title">
				<p class="text-align: left;">{{web_name}}</p>
			</div>
			<div class="list-filters">
				<div class="filter-dropdown">
					<a href="{% url 'acd:layanan_add' %}">
					<button class="btn primary">
						<i class="ri-add-line"></i>
						Ajukan Layanan Baru
					</button>
					</a>
				</div>
			</div>
		</div>

		<div class="student-table">
			{% if messages %}
			{% for message in messages %}
				<div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} mb-4">
					<i class="{% if message.tags == 'success' %}ri-checkbox-circle-line{% else %}ri-error-warning-line{% endif %} me-2"></i>
					{{ message }}
				</div>
			{% endfor %}
			{% endif %}
			<table id="layananTable" class="display" style="width:100%">
				<thead>
				<tr>
					<th style="white-space: nowrap;">No</th>
					<th>Date In</th>
					<th>Jenis Layanan</th>
					<th>Detail Layanan</th>
					<th>Status</th>
				</tr>
				</thead>
				<tfoot>
				<tr>
					<th style="white-space: nowrap;">No</th>
					<th>Date In</th>
					<th>Jenis Layanan</th>
					<th>Detail Layanan</th>
					<th>Status</th>
				</tr>
				</tfoot>
				<tbody>
				{% for layanan in layanan_data %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ layanan.date_in }}</td>
					<td>{{ layanan.layanan_jenis }}</td>
					<td>
					{% if layanan.layanan_file != '' %} 
						<a target="_blank" href='/media/{{ layanan.layanan_file }}'>
							<button class="btn secondary x-small"><i class="ri-file-line"></i> File</button>
						</a>
						{% endif %}
						{% if layanan.layanan_jenis.nama_layanan == 'Undangan Seminar Proposal' %} 
						<a href='/acd/proposal_reg'>
							<button class="btn secondary x-small"><i class="ri-file-line"></i>Lampiran</button>
						</a>
						{% endif %}
						{% if layanan.layanan_jenis.nama_layanan == 'Undangan Seminar Hasil' %} 
						<a href='/acd/hasil_reg'>
							<button class="btn secondary x-small"><i class="ri-file-line"></i>Lampiran</button>
						</a>
						{% endif %}
						{% if layanan.layanan_jenis.nama_layanan == 'Undangan Ujian Tutup' %} 
						<a href='/acd/ujian_reg'>
							<button class="btn secondary x-small"><i class="ri-file-line"></i>Lampiran</button>
						</a>
						{% endif %}
						<br>
						<div class="response-text">{{ layanan.layanan_isi|slice:"2:130" }}</div>
					</td>					  
					<td>
					{% if layanan.status == 'Waiting'  %}
						<span class="status-badge waiting">{{ layanan.status }}</span>
					{% elif layanan.status == 'Processing'  %}
						<span class="status-badge processing">{{ layanan.status }}</span>
					{% elif layanan.status == 'Rejected'  %}
						<span class="status-badge rejected">{{ layanan.status }}</span>
					{% elif layanan.status == 'Completed'  %}
						<span class="status-badge completed">{{ layanan.status }}</span>
					{% endif %}
					<div class="response-text">{% if layanan.status == "Waiting" or layanan.status == "Processing" %}Mohon menunggu...{% elif layanan.status == "Completed" or layanan.status == "Rejected" %}{{ layanan.hasil_test|default:"-" }}
						{% endif %}
					</div>
					{% if layanan.hasil_link %}
						<a target="_blank" href="https://{{ layanan.hasil_link }}">
							<button class="btn secondary x-small"><i class="ri-file-line"></i> Links</button>
						</a>
					{% endif %}
					{% if layanan.hasil_file %}
						<a target="_blank" href="/media/{{ layanan.hasil_file }}">
							<button class="btn secondary x-small"><i class="ri-file-line"></i> File</button>
						</a>
					{% endif %}
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>

		</div>
	</div>
</div>
		
{% endblock content1 %}

