{% extends "mhs/base.html" %}

 {% block header %}
	<h1 class="display-4">{{ web_name }}</h1>
	<p class="lead">Halo <b>{{user}}</b> Selamat datang di {{ web_name }}</p>
	<button class="btn btn-light btn-lg" id="btnHome" role="button">Get Started</button>
{% endblock header %}

{% block content1 %}

<div class="container">
	<div class="page-inner">
	  <div class="page-header">
		<h3 class="fw-bold mb-3">{{ title }}</h3>
		<ul class="breadcrumbs mb-3">
		  <li class="nav-home">
			<a href="{% url 'acd:dashboard' %}">
			  <i class="icon-home"></i>
			</a>
		  </li>
		  <li class="separator">
			<i class="icon-arrow-right"></i>
		  </li>
		  <li class="nav-item">
			<a href="">Skripsi</a>
		  </li>	  
		</ul>
	  </div>	  
	  <div class="row">
		<div class="col-md-12">
		  <div class="card">
			<div class="card-header">
			  <div class="row">
				<div class="col-md-1">
					<div class="avatar avatar-xxl p-3">
						<img src="/{{ usermhs.photo }}" alt="..." class="avatar-img rounded-circle">
					</div>
				</div>
				<div class="col-md-10">
					<div class="align-items-left p-3">
						<h4>{{user.username}}</h4>
						<h5>{{user.first_name}}</h5>
					</div>
				</div>
			  </div>
			</div>
			<div class="card-body">			

				
		  </div>
		</div>		
	  </div>

	  <h3 class="fw-bold mb-3">Alur Pembuatan Tugas Akhir / Skripsi</h3>
		<div class="row">
		<div class="col-md-12">
			<ul class="timeline">
			<li>
				<div class="timeline-badge">
				<i class="far fa-paper-plane"></i>
				</div>
				<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title">Pengajuan Judul</h4>
					<p>
					<small class="text-muted"
						><i class="far fa-paper-plane"></i> Download Panduan</small
					>
					</p>
				</div>
				<div class="timeline-body">
					<p>
					Silahkan mengajukan judul dengan mengikuti panduan, isi form berikut untuk pengecekan judul!
					<a href="{% url 'acd:skripsi_pjudul' %}" class="btn btn-primary btn-xs">Form Pengajuan Judul</a>
					<br/><br/>Jika judul anda sudah selesai dicek anda dapat mencetak lembar persetujuan penasehat akademik berikut:
					<a href="{% url 'acd:skripsi_pjudul' %}" class="btn btn-success btn-xs">Cetak Pengajuan Judul</a>, setelah tandatanngan silahkan ajukan penerbitan SK Pembimbing di layanan akademik.<a href="{% url 'acd:layanan_add' %}" class="btn btn-primary btn-xs">Layanan Akademik</a>
					</p>
				</div>
				</div>
			</li>
			<li class="timeline-inverted">
				<div class="timeline-badge warning">
				<i class="far fa-bell"></i>
				</div>
				<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title">Mussum ipsum cacilds</h4>
				</div>
				<div class="timeline-body">
					<p>
					Far far away, behind the word mountains, far from the
					countries Vokalia and Consonantia, there live the
					blind texts.
					</p>
				</div>
				</div>
			</li>
			<li>
				<div class="timeline-badge danger">
				<i class="icon-close"></i>
				</div>
				<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title">Mussum ipsum cacilds</h4>
				</div>
				<div class="timeline-body">
					<p>
					Far far away, behind the word mountains, far from the
					countries Vokalia and Consonantia, there live the
					blind texts.
					</p>
				</div>
				</div>
			</li>
			<li class="timeline-inverted">
				<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title">Mussum ipsum cacilds</h4>
				</div>
				<div class="timeline-body">
					<p>
					Far far away, behind the word mountains, far from the
					countries Vokalia and Consonantia, there live the
					blind texts.
					</p>
				</div>
				</div>
			</li>
			<li>
				<div class="timeline-badge info">
				<i class="icon-tag"></i>
				</div>
				<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title">Mussum ipsum cacilds</h4>
				</div>
				<div class="timeline-body">
					<p>
					Far far away, behind the word mountains, far from the
					countries Vokalia and Consonantia, there live the
					blind texts.
					</p>
					<hr />
					<div class="btn-group dropdown">
					<button
						type="button"
						class="btn btn-primary btn-sm dropdown-toggle"
						data-bs-toggle="dropdown"
					>
						<span class="btn-label">
						<i class="fa fa-cog"></i>
						</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#"
							>Another action</a
						>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#"
							>Something else here</a
						>
						</li>
					</ul>
					</div>
				</div>
				</div>
			</li>
			<li>
				<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title">Mussum ipsum cacilds</h4>
				</div>
				<div class="timeline-body">
					<p>
					Far far away, behind the word mountains, far from the
					countries Vokalia and Consonantia, there live the
					blind texts.
					</p>
				</div>
				</div>
			</li>
			<li class="timeline-inverted">
				<div class="timeline-badge success">
				<i class="icon-credit-card"></i>
				</div>
				<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title">Mussum ipsum cacilds</h4>
				</div>
				<div class="timeline-body">
					<p>
					Far far away, behind the word mountains, far from the
					countries Vokalia and Consonantia, there live the
					blind texts.
					</p>
				</div>
				</div>
			</li>
			</ul>
		</div>
	  </div>

	</div>
  </div>


  
{% endblock content1 %} 



{% block script_costum %} 
{% if messages %}
    {% for message in messages %}
        <script>
            swal({
                title: "Good job!",
                text: "Profil Anda berhasil diperbarui!",
                icon: "success",
                buttons: {
                    confirm: {
                        text: "OK",
                        value: true,
                        visible: true,
                        className: "btn btn-success",
                        closeModal: true,
                    },
                },
            });
        </script>
    {% endfor %}
{% endif %}
{% endblock script_costum %} 

