{% extends "prodi/base.html" %}

{% block content1 %}
<div class="dashboard-content">
	<!-- Stats Cards -->
	<div class="stats-cards">
		<div class="stat-card">
			<i class="ri-book-open-line"></i>
			<div class="stat-info">
				<h3>Mata Kuliah</h3>
				<p>8</p>
			</div>
		</div>
		<div class="stat-card">
			<i class="ri-task-line"></i>
			<div class="stat-info">
				<h3>Kehadiran</h3>
				<p>80%</p>
			</div>
		</div>
		<div class="stat-card">
			<i class="ri-timer-line"></i>
			<div class="stat-info">
				<h3>Seminar</h3>
				<p>45</p>
			</div>
		</div>
		<div class="stat-card">
			<i class="ri-medal-line"></i>
			<div class="stat-info">
				<h3>Achievements</h3>
				<p>10</p>
			</div>
		</div>
	</div>
	

	<!-- Recent Activities -->
	<div class="recent-activities">
		<h2>Recent Activities</h2>
		<div class="activity-list">
			<div class="activity-item">
				<div class="activity-icon"><i class="ri-file-text-line"></i></div>
				<div class="activity-details">
					<h4>Assignment Submitted</h4>
					<p>Mengikut perkuliahan pasar modal</p>
					<span class="time">2 hours ago</span>
				</div>
			</div>
			<div class="activity-item">
				<div class="activity-icon"><i class="ri-video-line"></i></div>
				<div class="activity-details">
					<h4>Seminar Progress</h4>
					<p>menyelesaikan Seminar Proposal</p>
					<span class="time">Yesterday</span>
				</div>
			</div>

			<div class="activity-item">
				<div class="activity-icon"><i class="ri-file-text-line"></i></div>
				<div class="activity-details">
					<h4>Seminar Proposal</h4>
					<p>Telah menyelesaikan seminar proposal</p>
					<span class="time">2 hours ago</span>
				</div>
			</div>
			<div class="activity-item">
				<div class="activity-icon"><i class="ri-file-text-line"></i></div>
				<div class="activity-details">
					<h4>Seminar Hasil </h4>
					<p>Jadwal seminar hasil telah ditetapkan</p>
					<span class="time">Yesterday</span><span class="status-badge completed">Aktif</span>
				</div>
			</div>
			<div class="activity-item">
				<div class="activity-icon"><i class="ri-file-text-line"></i></div>
				<div class="activity-details">
					<h4>Ujian Tutup</h4>
					<p>Pengajuan jadwal ujian tutup disetujui</p>
					<span class="time">2 days ago</span><span class="status-badge completed">Aktif</span>
				</div>
			</div>
			<div class="activity-item">
				<div class="activity-icon"><i class="ri-file-paper-2-line"></i></div>
				<div class="activity-details">
					<h4>Revisi Proposal</h4>
					<p>Revisi proposal telah disetujui pembimbing</p>
					<span class="time">3 days ago</span>
				</div>
			</div>
			<div class="activity-item">
				<div class="activity-icon"><i class="ri-file-paper-2-line"></i></div>
				<div class="activity-details">
					<h4>Revisi Hasil</h4>
					<p>Menunggu persetujuan revisi hasil penelitian</p>
					<span class="time">4 days ago</span>
				</div>
			</div>
			<div class="activity-item">
				<div class="activity-icon"><i class="ri-user-follow-line"></i></div>
				<div class="activity-details">
					<h4>Validator Penelitian</h4>
					<p>Validator telah memberikan feedback</p>
					<span class="time">5 days ago</span><span class="status-badge completed">Aktif</span>
				</div>
			</div>
			<div class="activity-item">
				<div class="activity-icon"><i class="ri-file-search-line"></i></div>
				<div class="activity-details">
					<h4>Izin Penelitian</h4>
					<p>Surat izin penelitian telah disetujui</p>
					<span class="time">1 week ago</span>
				</div>
			</div>
			<div class="activity-item">
				<div class="activity-icon"><i class="ri-file-text-line"></i></div>
				<div class="activity-details">
					<h4>Assignment Submitted</h4>
					<p>You submitted Marketing Strategy assignment</p>
					<span class="time">2 hours ago</span><span class="status-badge cancelled">Cancelled</span>
				</div>
			</div>

			<div class="activity-item">
				<div class="activity-icon"><i class="ri-file-text-line"></i></div>
				<div class="activity-details">
					<h4>Assignment Submitted</h4>
					<p>You submitted Marketing Strategy assignment</p>
					<span class="time">2 hours ago</span><span class="status-badge cancelled">Cancelled</span>
				</div>
			</div>
			<div class="activity-item">
				<div class="activity-icon"><i class="ri-file-text-line"></i></div>
				<div class="activity-details">
					<h4>Assignment Submitted</h4>
					<p>You submitted Marketing Strategy assignment</p>
					<span class="time">2 hours ago</span><span class="status-badge cancelled">Cancelled</span>
				</div>
			</div>
			<div class="activity-item">
				<div class="activity-icon"><i class="ri-file-text-line"></i></div>
				<div class="activity-details">
					<h4>Assignment Submitted</h4>
					<p>You submitted Marketing Strategy assignment</p>
					<span class="time">2 hours ago</span><span class="status-badge cancelled">Cancelled</span>
				</div>
			</div>
			<div class="activity-item">
				<div class="activity-icon"><i class="ri-file-text-line"></i></div>
				<div class="activity-details">
					<h4>Assignment Submitted</h4>
					<p>You submitted Marketing Strategy assignment</p>
					<span class="time">2 hours ago</span>
				</div>
			</div>
			<div class="activity-item">
				<div class="activity-icon"><i class="ri-file-text-line"></i></div>
				<div class="activity-details">
					<h4>Assignment Submitted</h4>
					<p>You submitted Marketing Strategy assignment</p>
					<span class="time">2 hours ago</span>
				</div>
			</div>
			<div class="activity-item">
				<div class="activity-icon"><i class="ri-file-text-line"></i></div>
				<div class="activity-details">
					<h4>Assignment Submitted</h4>
					<p>You submitted Marketing Strategy assignment</p>
					<span class="time">2 hours ago</span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content1 %} 

