{% extends "prodi/base.html" %}

{% block content1 %}
<div class="dashboard-content">
	<div class="student-list-container">
		<div class="list-header">
			<div class="list-title">
				<h2>{{ heading }}</h2>
				<p>{{web_name}}</p>
			</div>
			<div class="list-filters">
				<div class="table-actions">
					<div class="action-group">
						<button class="btn primary" onclick="openModal('nomorsurat')">
							<i class="ri-add-line"></i>
							<span>Tambah</span>
						</button>
						<a href="{% url 'acd:nosurat_del' %}">
						<button class="btn danger" id="deleteSelected">
							<i class="ri-delete-bin-line"></i>
							<span>Batalakan Nomor Terakhir</span>
						</button>
						</a>
						{% comment %} <button class="btn secondary" id="exportTable">
							<i class="ri-download-line"></i>
							<span>Export</span>
						</button> {% endcomment %}
					</div>
				</div>
			</div>
		</div>
		<div class="student-table">
			<table id="layananTable" class="display" style="width:100%">
				<thead>
				<tr>
					<th>No</th>
					<th>Date In</th>
					<th>Nomor Surat</th>
					<th>Perihal</th>
					<th>Tujuan</th>
				</tr>
				</thead>
				<tfoot>
				<tr>
					<th>No</th>
					<th>Date In</th>
					<th>Nomor Surat</th>
					<th>Perihal</th>
					<th>Tujuan</th>
				</tr>
				</tfoot>
				<tbody>
				{% for datatb in data %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ datatb.date_in }}</td>
						<td>{{ datatb.nomor }}{{datatb.jurusan.kode_surat}}{{datatb.tahun}}</td>
						<td style="text-transform: uppercase;">{{ datatb.perihal }}</td>							  				
						<td>{{ datatb.tujuan }}</td>					  
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


<!-- OPENING ELEMEN MODAL -->
<div id="nomorsurat" class="modal-edit">
	<div class="modal-content-edit">
		<span class="close" onclick="closeModal('nomorsurat')">&times;</span>
		<h2 style="text-align: left;">Perihal dan Tujuan</h2>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
		<div class="form-group">
			<label style="text-align: left;">Perihal</label>
			{{ form.perihal }}
		</div>
		<div class="form-group">
			<label style="text-align: left;">Tujuan</label>
			{{ form.tujuan }}
		<button type="submit" class="btn primary top">
			<i class="ri-save-line"></i>
			Update Data
		</button>
	</form>
	</div>
</div>
</div>
</div>
<!-- OPENING ELEMENT MODAL -->
{% endblock content1 %}

