{% extends "prodi/base.html" %}

{% block content1 %}
<div class="dashboard-content">
	<div class="student-list-container">
		<div class="list-header">
			<div class="list-title">
				<h2>{{ heading }}</h2>
				<p>{{web_name}}</p>
			</div>
			<div class="list-filters">
				<div class="filter-dropdown">
					<button class="filter-btn">
						Filter Mata Kuliah <i class="ri-arrow-down-s-line"></i>
					</button>
				</div>
				<div class="date-filter">
					<div class="date-input">
						<i class="ri-calendar-line"></i>
						<input type="text" placeholder="Semester">
					</div>
				</div>
			</div>
		</div>

		<div class="student-table">
			{% if messages %}
			{% for message in messages %}
				<div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} mb-4">
					<i class="{% if message.tags == 'success' %}ri-checkbox-circle-line{% else %}ri-error-warning-line{% endif %} me-2"></i>
					{{ message }}
				</div>
			{% endfor %}
			{% endif %}
			<table>
				<thead>
				<tr>
					<th>No</th>
					<th>Date In</th>
					<th>Mahasiswa</th>
					<th>Prodi</th>
					<th>Dosen PA</th>
					<th>Judul</th>
					<th>Aksi</th>
				</tr>
				</thead>
				<tfoot>
				<tr>
					<th>No</th>
					<th>Date In</th>
					<th>Mahasiswa</th>
					<th>Prodi</th>
					<th>Dosen PA</th>
					<th>Judul</th>
					<th>Aksi</th>
				</tr>
				</tfoot>
				<tbody>
				{% for datatb in data %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ datatb.date_in|date:"d M Y H:i"  }}</td>
						<td>{{ datatb.user }}</td>					  
						<td>{{ datatb.prodi }}</td>					  
						<td>{{ datatb.penasehat_akademik }}</td>					  
						<td>1. {{ datatb.judul_1 }}					  
								<br>2. {{ datatb.judul_2}}					  
								<br>3. {{ datatb.judul_3}}
								</td>					  
						<td>{% if datatb.status == 'Waiting'  %}
							<span class="grade-badge c">{{ datatb.status }}</span>
							<br>
							<button class="action-btn primary" onclick="openModal('olahJudulModal', '{{ datatb.id }}')">
								<i class="ri-pencil-fill"></i>
							</button>
							{% elif datatb.status == 'Revision'  %}
								<span class="grade-badge b">{{ datatb.status }}</span>
							{% elif datatb.status == 'Approved'  %}
								<span class="grade-badge a">{{ datatb.status }}</span>
							{% endif %}						
						</td>					
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>


<div id="olahJudulModal" class="modal-edit"> 
    <div class="modal-content-edit">
        <span class="close" onclick="closeModal('olahJudulModal')">&times;</span>
        <h2>Perihal dan Tujuan</h2>
		<form method="post">
			{% csrf_token %}
			<input type="hidden" name="skripsi_id" id="skripsiId">
				<div class="form-group">
					<label for="status">Status</label>
					<select class="form-control" id="status" name="status" required>
						<option value="">Pilih Status</option>
						<option value="Approved" >Diterima</option>
						<option value="Revision" >Ditolak</option>
					</select>						
				</div>
				<div class="form-group">
					<label for="status_ket">Keterangan / Komentar / Alasan Penolakan</label>
					<input type="text" class="form-control" id="status_ket" name="status_ket" required>
				</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Simpan</button>
			</div>		
		</form>
    </div>
</div>


{% endblock content1 %} 



