{% extends "prodi/base.html" %}

{% block content1 %}

<div class="layanan-form-container">
	<div class="profile-section-ujian">
		<div class="student-table">
			<div class="table-responsive">
				<table>
					<tbody>
						<tr>
							<td width="10%">Mahasiswa</td>
							<td width="5%">:</td>
							<td>{{ judul.mhs }}</td>					  
						</tr>
						<tr>
							<td width="10%">Program Studi</td>
							<td width="5%">:</td>
							<td>{{ judul.prodi }}</td>					  
						</tr>
						<tr>
							<td width="10%">Judul</td>
							<td width="5%">:</td>
							<td>{{ judul.judul }}</td>					  
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="form-card">
	<div class="form-header">
		<div class="form-header-icon">
			<i class="ri-file-text-line"></i>
		</div>
		<div class="form-header-content">
			<h2>{{ heading }}</h2>
			<p>Silahkan isi form dibawah ini untuk mengajukan proposal skripsi</p>
		</div>
	</div>

	<form method="post"  enctype="multipart/form-data" class="layanan-form">
		{% csrf_token %}
		<div class="form-group">
			<label for="id_judul">Judul</label>
			{{ form.judul }}
		</div>		
		<div class="form-group">
			<label for="id_pembimbing1">Pembimbing 1</label>
			{{ form.pembimbing1 }}
		</div>		
		<div class="form-group">
			<label for="id_pembimbing2">Pembimbing 2 [*memerlukan persetujuan]</label>
			{{ form.pembimbing2 }}
		</div>
	
		<div class="form-actions">
			<a href="{% url 'acd:skripsi_djudul' %}">
				<button type="button" class="btn btn-secondary">
					<i class="ri-arrow-left-line"></i>
					Kembali
				</button>
			</a>
			<button type="submit" class="btn btn-primary">
				<i class="ri-refresh-line"></i>
				Update</button>
		</div>
	</form>

{% endblock content1 %}
{% block script_costum %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', function () {
	  var elementIds = ['id_pembimbing1', 'id_pembimbing2'];
	  elementIds.forEach(function(elementId) {
		var element = document.getElementById(elementId);
		if (element) {
		  new Choices(element, {
			searchEnabled: true,
			itemSelectText: '',
			shouldSort: false,
			removeItemButton: true,
			searchResultLimit: 10,
			searchFields: ['label', 'value'],
			position: 'bottom',
			searchPlaceholderValue: 'Cari Pembimbing',
			noResultsText: 'Tidak ditemukan',
			noChoicesText: 'Tidak ada pilihan',
		  });
		}
	  });
	});
</script>
{% endblock script_costum %}








