{% extends "prodi/base.html" %}

{% block content1 %}
<div class="dashboard-content">
	<div class="student-list-container">
		<div class="list-header">
			<div class="list-title">
				<h2>{{ heading }}</h2>
				<p>{{web_name}}</p>
			</div>
				<div class="list-filters">
					<div class="table-actions">
						<div class="action-group">
							<div class="search-bar-table">
								<i class="ri-search-line"></i>
								<input type="text" id="searchInput" placeholder="Search table...">
							</div>
						</div>
						<div class="action-group">
							<a href="{% url "acd:ttd_edit" 0 %}">
							<button class="btn primary">
								<i class="ri-add-line"></i>
								<span>Add</span>
							</button>
							</a>
							{% comment %} <button class="btn danger" id="deleteSelected">
								<i class="ri-delete-bin-line"></i>
								<span>Delete</span>
							</button>
							<button class="btn secondary" id="exportTable">
								<i class="ri-download-line"></i>
								<span>Export</span>
							</button> {% endcomment %}
						</div>
					</div>
				</div>




		</div>

		<div class="student-table">
			{% if messages %}
			{% for message in messages %}
				<div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} mb-4">
					<i class="{% if message.tags == 'success' %}ri-checkbox-circle-line{% else %}ri-error-warning-line{% endif %} me-2"></i>
					{{ message }}
				</div>
			{% endfor %}
			{% endif %}
			<table>
				<thead>
				<tr>
					<th>No</th>
					<th>Date In</th>
					<th>Pejabat</th>
					<th>Perihal</th>
					<th>Tujuan</th>
					<th>Aksi</th>
				</tr>
				</thead>
				<tfoot>
				<tr>
					<th>No</th>
					<th>Date In</th>
					<th>Pejabat</th>
					<th>Perihal</th>
					<th>Tujuan</th>
					<th>Aksi</th>
				</tr>
				</tfoot>
				<tbody>
				{% for datatb in data %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ datatb.date_in }}</td>
						<td>{{ datatb.pejabat }}</td>
						<td>{{ datatb.perihal }}</td>							  				
						<td>{{ datatb.tujuan }}</td>					  
						<td><a href="{% url 'acd:ttd_edit' datatb.id %}">
							<button class="action-btn"><i class="ri-pencil-fill"></i></button>
							</a>
							</td>					  
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- OPENING ELEMENT MODAL -->
{% endblock content1 %}

