{% extends "prodi/base.html" %}

{% block content1 %}
<div class="dashboard-content">
	<div class="profile-section">
	<div class="container-header">
		<nav class="container-breadcrumb">
			<ul>
				<li>
					<a href="{% url 'acd:dashboard' %}">
						<i class="ri-home-line"></i>
					</a>
				</li>
				<li>
					<i class="ri-arrow-right-s-line"></i>
				</li>
				<li>
					<a href="{% url 'acd:ujian' %}">ujian</a>
				</li>
				<li>
					<i class="ri-arrow-right-s-line"></i>
				</li>
				<li>
					<a href="">{{ heading }}</a>
				</li>
			</ul>
		</nav>
	</div>

		<div class="student-table">
			<div class="table-responsive">
				<table>
					<tbody>
						<tr>
							<td width="20%">Mahasiswa</td>
							<td width="5%">:</td>
							<td>{{ judul.mhs }}</td>					  
						</tr>
						<tr>
							<td>Program Studi</td>
							<td>:</td>
							<td>{{ judul.prodi }}</td>					  
						</tr>
						<tr>
							<td>Judul</td>
							<td>:</td>
							<td>{{ judul.judul }}</td>					  
						</tr>
						<tr>
							<td>Pembimbing I</td>
							<td>:</td>
							<td>{{ judul.pembimbing1 }}</td>					  
						</tr>
						<tr>
							<td>Pembimbing II</td>
							<td>:</td>
							<td>{{ judul.pembimbing2 }}</td>					  
						</tr>
						<tr>
							<td>KRS</td>
							<td>:</td>
							<td>{% if ujian.krs_berjalan %}
									<a target="_blank" href="/media/{{ ujian.krs_berjalan }}"><button class="btn success small">Lihat File</button></a>
								{% endif %}
							</td>					  
						</tr>
						<tr>
							<td>Transkrip Nilai</td>
							<td>:</td>
							<td>{% if ujian.transkrip %}
									<a target="_blank" href="/media/{{ ujian.transkrip }}"><button class="btn success small">Lihat File</button></a>
								{% endif %}
							</td>					  
						</tr>
						<tr>
							<td>Persetujuan ujian</td>
							<td>:</td>
							<td>{% if ujian.persetujuan_ujian %}
									<a target="_blank" href="/media/{{ ujian.persetujuan_ujian }}"><button class="btn success small">Lihat File</button></a>
								{% endif %}
							</td>					  
						</tr>
						<tr>
							<td>Ijaza Terakhir</td>
							<td>:</td>
							<td>{% if ujian.ijaza_terakhir %}
									<a target="_blank" href="/media/{{ ujian.ijaza_terakhir }}"><button class="btn success small">Lihat File</button></a>
								{% endif %}
							</td>					  
						</tr>
						<tr>
							<td>Rekomendasi dari Akademik</td>
							<td>:</td>
							<td>{% if ujian.rekomendasi_akademik %}
									<a target="_blank" href="/media/{{ ujian.rekomendasi_akademik }}"><button class="btn success small">Lihat File</button></a>
								{% endif %}
							</td>					  
						</tr>
						<tr>
							<td>SK Pembimbing</td>
							<td>:</td>
							<td>{% if skpbb %}
									<a target="_blank" href="/acd/print_skpbb/{{ skpbb.id }}"><button class="btn success small">Lihat File</button></a>
								{% endif %}
							</td>					  
						</tr>
						<tr>
							<td>Bebas Beban Kuliah</td>
							<td>:</td>
							<td>{% if bebaskuliah %}
									<a target="_blank" href="/acd/print_suket_bebaskuliah/{{ bebaskuliah.id }}"><button class="btn success small">Lihat File</button></a>
								{% endif %}
							</td>					  
						</tr>
						<tr>
							<td>Bebas Plagiasi</td>
							<td>:</td>
							<td>{% if bebasplagiasi %}
									<a target="_blank" href="/acd/print_suket_bebasplagiasi/{{ bebasplagiasi.id }}"><button class="btn success small">Lihat File</button></a>
								{% endif %}
							</td>					  
						</tr>
					</tbody>
				</table>	
			</div>
		</div>
		<br>
		<br>
		<div class="container-header">
			<h3>Form Edit Ujian</h3>
			<p>Silahkan isi form dibawah ini untuk mengedit undangan ujian.</p>
		</div>

		<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
			<div class="form-row">
				<div class="form-group">
					<label for="id_ujian_tgl">Tanggal Ujian</label>
					{{ form.ujian_tgl }}
				</div>
				<div class="form-group">
					<label for="id_ujian_jam">Jam Ujian</label>
					{{ form.ujian_jam }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group">
					<label for="id_ujian_tempat">Tempat Ujian</label>
					{{ form.ujian_tempat }}
				</div>
				<div class="form-group">
					<label for="id_ujian_link">Link Ujian</label>
					{{ form.ujian_link }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group">
					<label for="id_penguji1">Penguji I</label>
					{{ form.penguji1 }}
				</div>
				<div class="form-group">
					<label for="id_penguji2">Penguji II</label>
					{{ form.penguji2 }}
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn primary">Proses</button>
			</div>
		</form>
	</div>
</div>
{% endblock content1 %}








