{% extends "dosen/base.html" %}

{% block content1 %}
<div class="dashboard-content">
	<div class="student-list-container">
		<div class="list-header">
			<div class="list-title">
				<h2>{{ heading }}</h2>
				<p>{{web_name}}</p>
			</div>
		</div>
		<div class="student-table">
			<div class="table-responsive">
			<table id="layananTable" class="display" style="width:100%">
				<thead>
				<tr>
					<th style="white-space: nowrap;">No</th>
					<th>Mahasiswa</th>
					<th style="white-space: nowrap;">Prodi</th>
					<th>Penguji</th>
					<th>Pembimbing</th>
					<th>Aksi</th>
				</tr>
				</thead>
				<tfoot>
				<tr>
					<th>No</th>
					<th>Mahasiswa</th>
					<th>Prodi</th>
					<th>Penguji</th>
					<th>Pembimbing</th>
					<th width="10%">Aksi</th>
				</tr>
				</tfoot>
				<tbody>
				{% for datatb in data %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ datatb.usulan.mhs_judul.mhs }}</td>
						<td>{{ datatb.usulan.mhs_judul.prodi }}</td>						  				
						<td>1. {{ datatb.usulan.penguji1 }}
							<br> 2. {{ datatb.usulan.penguji2 }}
						</td>	
						<td>1. {{ datatb.usulan.mhs_judul.pembimbing1 }}
							<br> 2. {{ datatb.usulan.mhs_judul.pembimbing2 }}
						</td>				  				
						<td>
							<a target="_blank" href="{% url 'acd:print_skpgj' datatb.id %}" class="btn primary small"><i class="ri-printer-line"></i>Cetak</a>						
						</td>					  
					</tr>
				{% endfor %}
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>

{% endblock content1 %}

