{% extends "dosen/base.html" %}

{% block content1 %}
<div class="dashboard-content">
	<!-- Stats Cards -->

	<div class="hero-profile-elegant">
		<div class="hero-photo-elegant">
			<img src="/media/{{ photo }}" alt="Profile Picture">
		</div>
		<div class="hero-info-elegant">
			<p class="hero-welcome-text">Selamat Datang..</p>
			<h1 class="hero-name-display">{{ userdetail.nip.first_name }} {{ userdetail.nip.last_name }}</h1>
			<div class="hero-details-grid">
				<div class="detail-item">
					<span class="detail-label">NIP</span>
					<span class="detail-value">{{ userdetail.nip.username }}</span>
				</div>
				<div class="detail-item">
					<span class="detail-label">NIDN</span>
					<span class="detail-value">{{ userdetail.nidn }}</span>
				</div>
				<div class="detail-item">
					<span class="detail-label">Program Studi</span>
					<span class="detail-value">{{ userdetail.prodi }}</span>
				</div>
				<div class="detail-item">
					<span class="detail-label">Jabatan Fungsional</span>
					<span class="detail-value">{{ userdetail.jafung }}</span>
				</div>
				<div class="detail-item">
					<span class="detail-label">Pangkat/Golongan</span>
					<span class="detail-value">{{ userdetail.pangkat }} / {{ userdetail.golongan }}</span>
				</div>
				<div class="detail-item">
					<span class="detail-label">Bidang Keahlian</span>
					<span class="detail-value">{{ userdetail.bidang_keahlian }}</span>
				</div>
			</div>
			<div class="hero-action-area">
				<a href="{% url 'acd:profile_dosen' %}">
					{% if userdetail.photo is none %}
					<button class="btn danger small">
							<i class="ri-alert-line"></i>Lengkapi profile anda untuk melanjutkan aktivitas di sistem ini!
						</button>
					{% else %}
						<button class="btn primary medium">
							<i class="ri-user-line"></i> Detail Profil
						</button>
					{% endif %}
				</a>
			</div>
		</div>
	</div>


	<div class="stats-cards">
		<h4>Info Layanan Mahasiswa</h4>
	</div>
	
	<div class="stats-cards">		
		<div class="stat-card orange">			
			<i class="ri-filter-line"></i><!-- Menunggu -->
			<div class="stat-info">
				<p>Seleksi Judul</p>
				<h1>{{ data.seleksi_judul }}</h1>
				<a href="{% url 'acd:judul_seleksi' %}"><button class="btn warning x-small">Detail</button></a>				
			</div>			
		</div>		
		<div class="stat-card orange">			
			<i class="ri-chat-check-line"></i>
			<div class="stat-info">
				<p>Persetujuan Pembimbing II</p>
				<h1>{{ data.pbb2_persetujuan }}</h1>
				<a href="{% url 'acd:pbb2_persetujuan' %}"><button class="btn warning x-small">Detail</button></a>				
			</div>			
		</div>		
		<div class="stat-card blue">
			<i class="ri-file-shield-2-line"></i>
			<div class="stat-info">
				<p>Proposal Mahasiswa</p>
				<h1>{{ data.proposal }}</h1>
				<a href="{% url 'acd:proposal_dsn' 'Semua'  %}"><button class="btn primary x-small">Detail</button></a>
			</div>
		</div>
		<div class="stat-card green">
			<i class="ri-checkbox-circle-line"></i> <!-- Selesai -->
			<div class="stat-info">
				<p>Hasil Mahasiswa</p>
				<h1>{{ data.hasil }}</h1>
				<a href="{% url 'acd:hasil_dsn' 'Semua'  %}"><button class="btn success x-small">Detail</button></a>
			</div>
		</div>
		<div class="stat-card red">
			<i class="ri-file-list-2-line"></i><!-- Ditolak -->
			<div class="stat-info">
				<p>Ujian Mahasiswa</p>
				<h1>{{ data.ujian }}</h1>
				<a href="{% url 'acd:ujian_dsn' 'Semua'  %}"><button class="btn danger x-small">Detail</button></a>
			</div>
		</div>
	</div>
	

	<div class="stats-cards">
		<h4>Info Jumlah Layanan</h4>
	</div>
	
	<div class="stats-cards">
		<div class="stat-card purple">
			<i class="ri-book-open-line"></i>
			<div class="stat-info">
				<h3>Bulan Ini</h3>
				<p>{{ data.layanan_month }}</p>
			</div>
		</div>
		<div class="stat-card indigo">
			<i class="ri-task-line"></i>
			<div class="stat-info">
				<h3>Tahun Ini</h3>
				<p>{{ data.layanan_year }}</p>
			</div>
		</div>
		<div class="stat-card purple">
			<i class="ri-task-line"></i>
			<div class="stat-info">
				<h3>Semua</h3>
				<p>{{ data.layanan_all }}</p>
			</div>
		</div>
	</div>
	

	

</div>
{% endblock content1 %} 


