{% extends "dosen/base.html" %}

{% block content1 %}
<div class="dashboard-content">
	<div class="student-list-container">
		<div class="list-header">
			<div class="list-title">
				<h2>{{ heading }}</h2>
				<p>{{ web_name }}</p>
			</div>
		</div>
		<div class="student-table">
			<div class="table-responsive">
				<table id="layananTable" class="display" style="width:100%">
					<thead>
						<tr>
							<th style="white-space: nowrap;">No</th>
							<th style="white-space: nowrap;">Mahasiswa/Dosen</th>
							<th style="white-space: nowrap;">Dated</th>
							<th style="white-space: nowrap;">Prodi</th>
							<th style="white-space: nowrap;">Perihal</th>
							<th style="white-space: nowrap;">Aksi</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>No</th>
							<th>Mahasiswa/Dosen</th>
							<th>Dated</th>
							<th>Prodi</th>
							<th>Perihal</th>
							<th>Aksi</th>
						</tr>
					</tfoot>
					<tbody>
						{% for datatb in dokumen_ttd_pejabat %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>{{ datatb.mhs }}   
								{% for std in datatb.std_surat.all %}
										{{ std.dosen }} {{ std.mhs }}<br>
								{% endfor %}
								{{ datatb.mhs_judul.mhs.nim }}
							</td>
							<td>{{ datatb.date_in }}</td>
							<td>{{ datatb.mhs.prodi }}
								{% for std in datatb.std_surat.all %}
								{{ std.dosen.prodi }}<br>
								{% endfor %}
								{{ datatb.mhs_judul.prodi }}
							</td>
							<td>
								{% if datatb.jenis_dokumen|lower == "sk_pembimbing" %}
									SK Pembimbing
								{% endif %}
								{% if datatb.jenis_dokumen|lower == "suket_aktifkuliah" %}
									SK Aktif Kuliah
								{% endif %}
								{% if datatb.jenis_dokumen|lower == "undangan_proposal" %}
									Undangan Proposal
								{% endif %}
								{% if datatb.jenis_dokumen|lower == "surat_tugas" %}
									Surat Tugas
								{% endif %}
							</td>							
							<td>
							{% if datatb.jenis_dokumen %}
								<a href="{% url 'acd:kelola_ttd' datatb.jenis_dokumen datatb.id 'batalkan' %}" 
								onclick="return confirm('Batalkan TTD {{ datatb.jenis_dokumen|title }} ini?')">
									<button class="btn danger small"><i class="ri-close-line"></i> Batalkan</button>
								</a>
								<a href="{% url 'acd:kelola_ttd' datatb.jenis_dokumen datatb.id 'ubah' %}" 
								onclick="return confirm('Ubah TTD {{ datatb.jenis_dokumen|title }} ini ke Manual?')">
									<button class="btn success small"><i class="ri-qr-scan-line"></i> Manual</button>
								</a>
							{% endif %}
						</td>
						</tr>
						{% empty %}
						<tr>
							<td colspan="7">Tidak ada dokumen yang ditandatangani.</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock content1 %}
