{% extends "base.html" %}

{% block header %}
	<h1 class="display-4">{{heading}}</h1>
	<p class="lead">Halo {{user}} selamat datang di WELCOME</p>
{% endblock header %}

{% block content1 %}
<div class="row p-5">
	<h1>Anda yakin ingin keluar?</h1>
    <a href="{% url "index" %}"><button class="btn btn-primary">Tidak</button></a>
    <form method="POST">
        {% csrf_token %}        
        <button type="submit" name="logout" value="ya" class="btn btn-danger">Ya</button>
      </form>
</div>
{% endblock content1 %}

{% block content2 %}
    <h4>OKOK SAJA</h4>
{% endblock content2 %}