{% extends "fakultas/base.html" %}

{% block content1 %}
<div class="container">
	<div class="page-inner">
	  <div class="page-header">
		<h3 class="fw-bold mb-3">{{ title }}</h3>
		<ul class="breadcrumbs mb-3">
		  <li class="nav-home">
			<a href="{% url 'acd:dashboard' %}">
			  <i class="icon-home"></i>
			</a>
		  </li>
		  <li class="separator">
			<i class="icon-arrow-right"></i>
		  </li>
		  <li class="nav-item">
			<a href="{% url 'acd:prodi_list' %}">Program Studi</a>
		  </li>	  
		  <li class="separator">
			<i class="icon-arrow-right"></i>
		  </li>
		  <li class="nav-item">
			<a href="">{{heading}}</a>
		  </li>	  
		</ul>
	  </div>	  
	  <div class="row">
		<div class="col-md-12">
		  <div class="card">
			<div class="card-header">
			  <h4 class="card-title">Lengkapi Form Berikut</h4>
			</div>
			<div class="card-body">
				

				<form method="post"  enctype="multipart/form-data">
					{% csrf_token %}
					{{ form.as_p }}					
					<button type="submit" class="btn btn-primary">Proses</button>
					{% if prodi %}
						<button type="submit" class="btn btn-danger" name="delete" onclick="return confirm('Yakin ingin menghapus Prodi ini?');">
							Hapus
						</button>
					{% endif %}
				</form> 
		  </div>
		</div>

		
	  </div>
	</div>
  </div>


  
{% endblock content1 %} 



{% block script_costum %} 
{% if messages %}
    {% for message in messages %}
        <script>
            swal({
                title: "{% if message.tags == 'success' %}Good job!{% else %}Gagal Menyimpan!{% endif %}",
                text: "{{ message }}",
                icon: "{% if message.tags == 'success' %}success{% else %}error{% endif %}",
                buttons: {
                    confirm: {
                        text: "OK",
                        value: true,
                        visible: true,
                        className: "{% if message.tags == 'success' %}btn btn-success{% else %}btn btn-danger{% endif %}",
                        closeModal: true,
                    },
                },
            });
        </script>
    {% endfor %}
{% endif %}
{% endblock script_costum %} 

